<!-- begin #header -->
<header class="header">
    <div class="container-big">
        <div class="header__logo">
            <img src="img/logo-full.png" alt="company logo" class="header__logo--pic">
            <a href="#" class="header__logo--link">Портфолио Дмитрия Гордиенко</a>
        </div>
        <div class="header__social">
            <ul class="header__social--list">
                <li class="header__social--item">
                    <a href="#" class="header__social--link fb">Facebook</a>
                </li>
                <li class="header__social--item">
                    <a href="#" class="header__social--link vk">VK</a>
                </li>
                <li class="header__social--item">
                    <a href="#" class="header__social--link twitter">Twitter</a>
                </li>
                <li class="header__social--item">
                    <a href="#" class="header__social--link github">Github</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- end #header -->
