<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homer's portfolio</title>
    <meta name="description" content="Homer's portfolio">
    <meta name="keywords" content="Homer's portfolio">
    <meta name="author" content="Odinokun">
    <link rel="icon" href="img/favicon.png">
    <!-- build:css css/vendors.css-->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild-->
    <!-- build:js js/modernizr.min.js-->
    <script src="bower/modernizer/modernizr.js"></script>
    <!-- endbuild-->
</head>
